.study-note strong { color: #b42318; font-weight:800; }
.study-note em { color: #175cd3; }
.study-note mark { background-color: #fef08a; color: #262727; }
.study-note .ftc-color-default-blue { font-size:1.35em; background-color:#dbeafe; }
